---
title: "Creepypasta Files"
description: false
date: 2013-04-17 00:09:45
category: portfolio
pagination_enabled: false
layout: portfolio-page
tags:
  - mobile
---

<div class="row">

  <!-- TITLE -->
  <div id="{{ page.title | downcase | replace:' ','-' | replace:'.','-' }}">

    <!-- The project content -->
    <div id="content">
      <div class="span8">
        <div class="blog">

          <div class="pagebody">
            <article>

              <header>
                <h2 class="title"><a href="{{ page.url }}" class="title-link">{{ page.title }}</a></h2>
              </header>

              <div class="project-tagline">
                <p>
                  The Creepypasta Files are a collection of creepypasta, scary
                  stories, urban legends and accounts of various disturbing and
                  frightening events.
                </p>
              </div>

              <!-- SCREENSHOTS/CODE SNIPPETS -->
              <ul id="pikame" class="clearfix">

                <li>
                  <a href="/img/portfolio/creepypasta-files/creepypasta-files-01.png">
                    <img src="/img/portfolio/creepypasta-files/creepypasta-files-01.png"
                    class="project-screenshot"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/creepypasta-files/creepypasta-files-02.png">
                    <img src="/img/portfolio/creepypasta-files/creepypasta-files-02.png"
                    class="project-screenshot"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/creepypasta-files/creepypasta-files-03.png">
                    <img src="/img/portfolio/creepypasta-files/creepypasta-files-03.png"
                    class="project-screenshot"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/creepypasta-files/creepypasta-files-04.png">
                    <img src="/img/portfolio/creepypasta-files/creepypasta-files-04.png"
                    class="project-screenshot"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/creepypasta-files/creepypasta-files-05.png">
                    <img src="/img/portfolio/creepypasta-files/creepypasta-files-05.png"
                    class="project-screenshot"
                    alt="" />
                  </a>
                </li>

              </ul>

              <div class="project-description">

                <h3>Project Details</h3>

                <p>
                  This application currently contains over 100 stories. New
                  stories are constantly reviewed and approved for entry into
                  the Creepypasta Files database. 
                </p>

                <h3>Over 100 stories to read.</h3>

                <p>
                  There are hundreds of creepypasta available all over the web.
                  We've compiled some of the most popular stories and packaged
                  them in a free application for your mobile device or tablet.
                </p>

                <h4>Keep track with bookmarks</h4>

                <p>
                  It can be difficult to navigate through hundreds of stories.
                  Bookmarks give you a way to save references to your favorite
                  stories, or to a story you want to continue reading some other
                  time.
                </p>

                <p>
                  You can add or remove bookmarks whenever you are reading a
                  story by pressing the bookmark button on the top-right corner
                  of the screen.
                </p>

                <h4>Portrait and Landscape support</h4>

                <p>
                  This application supports all device orientations. Through the
                  use of autoresizing masks, UI elements remain proportional and
                  the user-experience is not compromised.
                </p>

                <h3>On-the-fly settings.</h3>

                <p>
                  Access the settings screen whenever you want. Just press the
                  settings button on the top right corner. Other settings are
                  automatically configured and tailored for the device in use.
                </p>

                <h4>Text-size</h4>

                <p>
                  If, for whatever reason, you want to change the text size, you
                  can do so in the settings screen. Simply click the text size
                  button, and select a size.
                </p>

                <h4>Images</h4>

                <p>
                  Whenever possible and relevant, an image may be displayed
                  along with the story. There aren't many, but these images
                  provide a much stronger vibe and realism to each story.
                </p>

                <h4>Phone and Tablet support</h4>

                <p>
                  Whether you are using a mobile device or a tablet, this
                  application has got you covered. Text and images will be
                  rendered in appropriate sizes for each device. Tablet screens
                  allow for slightly bigger text and larger images. Phones will
                  render images to fit on the screen, relative to the
                  screen-width.
                </p>

              </div>

            </article>
          </div> <!-- blogbody solo -->

        </div> <!-- blog -->
      </div> <!-- span8 bootstrap -->
    </div> <!--/content-->

    <div id="sidebar">
      <!-- The sidebar -->
      <div class="span4">

        <!-- DISTRIBUTION -->
        <div class="side">

          <div class="text-center">
            <h3 class="dark-title">Distribution</h3>
          </div>

          <ul class="nav nav-list">

            <li class="nav-header">iOS</li>

            <li>
              <a
                href="https://fossil.hackbytes.com/byronsanchez/creepypasta-files-ios"
                rel="alternate">
                <img src="/img/icons/sourcecode-icon-16x16.png"
                class="sidebar-icon" alt="Source Code icon" />&nbsp;View Source
                Code
              </a>
            </li>

            <li>
              <a href="https://github.com/byronsanchez/creepypasta-files-ios"
                rel="alternate">
                <img src="/img/icons/github-icon-16x16.png"
                class="sidebar-icon" alt="Github icon" />&nbsp;View on
                Github
              </a>
            </li>

            <li>
              <a
                href="https://bitbucket.com/byronsanchez/creepypasta-files-ios"
                rel="alternate">
                <img src="/img/icons/bitbucket-icon-16x16.png"
                class="sidebar-icon" alt="Bitbucket icon" />&nbsp;View on
                Bitbucket
              </a>
            </li>

            <li class="nav-header">Android</li>

            <li>
              <a
                href="https://play.google.com/store/apps/details?id=net.globide.creepypasta_files_07"
                rel="alternate">
                <img src="/img/icons/android-icon-16x16.png"
                class="sidebar-icon" alt="Android icon" />&nbsp;View on Google 
                Play
              </a>
            </li>

            <li>
              <a
                href="https://fossil.hackbytes.com/byronsanchez/creepypasta-files-android"
                rel="alternate">
                <img src="/img/icons/sourcecode-icon-16x16.png"
                class="sidebar-icon" alt="Source Code icon" />&nbsp;View Source
                Code
              </a>
            </li>

            <li>
              <a href="https://github.com/byronsanchez/creepypasta-files-android"
                rel="alternate">
                <img src="/img/icons/github-icon-16x16.png"
                class="sidebar-icon" alt="Github icon" />&nbsp;View on
                Github
              </a>
            </li>

            <li>
              <a
                href="https://bitbucket.com/byronsanchez/creepypasta-files-android"
                rel="alternate">
                <img src="/img/icons/bitbucket-icon-16x16.png"
                class="sidebar-icon" alt="Bitbucket icon" />&nbsp;View on
                Bitbucket
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- TECHNOLOGY -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Technology</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Objective-C, Java
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;HTML, CSS, JavaScript
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;SQLite
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Compatible with phones and tablets
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Portrait and landscape support
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- CODE SNIPPETS -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Code Snippets</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a class="fbox" href="/creepypasta-files-code-snippet-1/">
                <img 
                src="/img/portfolio/creepypasta-files/creepypasta-files-06.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

            <li>
              <a class="fbox" href="/creepypasta-files-code-snippet-2/">
                <img 
                src="/img/portfolio/creepypasta-files/creepypasta-files-07.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

      </div> <!-- span bootstrap -->
    </div> <!-- /sidebar -->


  </div> <!-- project id -->
</div> <!-- row bootstrap -->

