---
layout: blog-default
nav_id: 0
excerpt: true
---

{% comment %}

  // This is currently designed for use on the main page (not the porfolio).
  // If the portfolio becomes paginated or if multiple cateogries are needed, fix up links
  // or use separate category pages (or both).

{% endcomment %}

{% for post in site.categories.blog limit:site.recent_posts %}

<div class="blogbody">
  <article>
    <header>
      <h2 class="title"><a href="{{ post.url }}/" class="title-link">{{ post.title }}</a></h2>
      <h3 class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></h3>
    </header>
    
      {% comment %}
      
        // Description takes precedence.
        // Then the excerpt.
        // Then the full post.
      
      {% endcomment %}
      
      {% if post.description %}
        {{ post.description }}
      {% else %}
        
        {% if post.excerpt %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content }}
        {% endif %}
      {%endif %}
      <p class="more-link"><a href="{{ post.url }}/">Read Article &#8594;</a></p>
    
    <footer>
      <!-- Author Information -->
      <div class="posted muted">
        Published by
        {% if post.author %}
          {{ post.author }}
        {% else %}
          {{ site.author }}
        {% endif %}
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="{{ post.url }}/#comments">
            {% case post.comments_num %}
              {% when 0 %}
                No Comments
              {% when 1 %}
                1 Comment
              {% else %}
                {{post.comments_num}} Comments
            {% endcase %}
          </a>
      </div>
    </footer>
  </article>
</div>

{% endfor %}

  <p class="more-link"><a href="/archives/">Read more blog posts &#8594;</a></p>
