---
title: "hackBytes.com - Code Snippet 1"
description: ""
date: 2013-04-19 00:09:45
category: code-snippet
pagination_enabled: false
layout: code-snippet
tags:
  - web
---

<!-- CODE SNIPPET -->
<div class="row-fluid project-container">
  <div class="span12">
    <div class="project-code">
      <h2>Code Snippet</h2>

      <p class="snippet-description">
        If a reader fills out a form field, or if changes are made to a form field, an
        event is triggered for that field and handled by the site's JavaScript code. The
        following code contains a portion of the event-handling process for two
        different form fields. Each handler serializes it's corresponding form field
        data and passes it to the server for validation. The server then returns
        validation information for that field.  This is useful, especially for
        situations in which server-side data is needed to perform on-the-fly validation
        (like when you are validating a username against a database of
        already-registered users).
      </p>

      <div class="code-sample">

{% highlight javascript linenos %}

function validateEmail(){

  // Abort any pending requests
  if (request) {
    request.abort();
  }

  // serialize the data in the field
  var serializedData = $fi

  // pass data to the server, signalling validation type.
  var request = $.ajax({
    url: $ajax_file,
    type: "post",
    data: serializedData + "&invoke=validate_email",
    dataType: "json"
  });

  // callback handler that will be called on success
  request.done(function (response, textStatus, jqXHR){
    $isEmailValid = (validate_email_request(response.validate_result));
  });

  // callback handler that will be called on failure
  request.fail(function (jqXHR, textStatus, errorThrown){
    $isEmailValid = (validate_email_request(1));
  });
}

function validateLink(){

  // Abort any pending requests
  if (request) {
    request.abort();
  }

  // serialize the data in the field
  var serializedData = $fieldLink.serialize();

  // pass data to the server, signalling validation type.
  var request = $.ajax({
    url: $ajax_file,
    type: "post",
    data: serializedData + "&invoke=validate_link",
    dataType: "json"
  });

  // callback handler that will be called on success
  request.done(function (response, textStatus, jqXHR){
    $isLinkValid = (validate_link_request(response.validate_result));
  });

  // callback handler that will be called on failure
  request.fail(function (jqXHR, textStatus, errorThrown){
    $isLinkValid = (validate_link_request(1));
  });
}

{% endhighlight %}

      </div>
    </div>
  </div>
</div>

