---
title: "hackBytes.com"
description: ""
date: 2013-04-19 00:09:45
category: portfolio
pagination_enabled: false
layout: portfolio-page
tags:
  - web
---

<div class="row">

  <!-- TITLE -->
  <div id="{{ page.title | downcase | replace:' ','-' | replace:'.','-' }}">

    <!-- The project content -->
    <div id="content">
      <div class="span8">
        <div class="blog">

          <div class="pagebody">
            <article>

              <header>
                <h2 class="title"><a href="{{ page.url }}" class="title-link">{{ page.title }}</a></h2>
              </header>

              <div class="project-tagline">
                <p>Slowly building a reference for growing as a developer.</p>
              </div>

              <!-- SCREENSHOTS/CODE SNIPPETS -->
              <ul id="pikame" class="clearfix">

                <li>
                  <a href="/img/portfolio/hackbytes-com/hackbytes-com-01.png">
                    <img src="/img/portfolio/hackbytes-com/hackbytes-com-01.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/hackbytes-com/hackbytes-com-02.png">
                    <img src="/img/portfolio/hackbytes-com/hackbytes-com-02.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/hackbytes-com/hackbytes-com-03.png">
                    <img src="/img/portfolio/hackbytes-com/hackbytes-com-03.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/hackbytes-com/hackbytes-com-04.png">
                    <img src="/img/portfolio/hackbytes-com/hackbytes-com-04.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/hackbytes-com/hackbytes-com-05.png">
                    <img src="/img/portfolio/hackbytes-com/hackbytes-com-05.png"
                    alt="" />
                  </a>
                </li>

              </ul>

              <div class="project-description">

                <h3>Project Details</h3>

                <p>
                  hackBytes.com is a site cataloging experiences with developing
                  in various languages. The main objective is to publicize and
                  archive information that may be useful and applicable to other
                  developers.
                </p>

                <p>
                  This site was mainly created for the purposes of cataloging
                  anything useful I learn. When I was younger, I honestly thought
                  development would be an impossible skill to learn. There ended
                  up being "key lessons" that I ultimately figured out. I will
                  never forget them. But honestly, it wouldn't have hurt to learn
                  them sooner. Maybe this blog will help others in figuring things
                  out!
                </p>

                <h3>Simple design, focusing on what's important.</h3>

                <p>
                  The simple color palette places focus on and emphasizes the
                  main content.
                </p>

                <h4>References</h4>

                <p>
                  hackBytes.com is completely driven on the purpose of being a
                  useful reference to developers. Thus, a simple design
                  naturally places focus on the content. Unnecessary
                  distractions are completely avoided.
                </p>

                <h4>Simple navigation</h4>

                <p>
                  The hierarchy of the site's pages is kept relatively simple.
                  There is the blog, which contains every post and each post's
                  associated comments. There are also a few pages containing
                  different bits of information about the site. Simple
                  navigation means readers spend less time trying to find
                  content and more time <b>getting stuff done.</b>
                </p>

                <h3>Built with powerful systems.</h3>

                <p>
                  This entire website is built on top of and makes use of some of
                  the most powerful systems available in web application
                  development.
                </p>

                <h4>Statically-generated</h4>

                <p>
                  Almost every part of the site is statically generated. This
                  means that most of what a user sees are previously generated
                  html files (thanks to <a
                    href="https://github.com/mojombo/jekyll"><b>Jekyll</b></a>).
                  This is a perfect system for a simple blog and portfolio,
                  where dynamic programs typically cause much more overhead
                  than it's worth.
                </p>


                <p>
                  The portions of the site that make use of dynamic content
                  generation use JavaScript to PHP as the client to server
                  languages. Once the server has generated tailored content, it
                  passes the generated data back to the JavaScript file as a JSON
                  object. From there, the data is presented to the user.
                </p>

                <h4>Powered by Bootstrap</h4>

                <p>
                  The website is built on top of Twitter's Bootstrap. The
                  website is mobile-ready and works on a wide range of devices.
                </p>

              </div>


            </article>
          </div> <!-- blogbody solo -->

        </div> <!-- blog -->
      </div> <!-- span8 bootstrap -->
    </div> <!--/content-->

    <div id="sidebar">
      <!-- The sidebar -->
      <div class="span4">

        <!-- DISTRIBUTION -->
        <div class="side">

          <div class="text-center">
            <h3 class="dark-title">Distribution</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a href="http://hackbytes.com" rel="alternate">
                <img src="/img/icons/website-icon-16x16.png" 
                class="sidebar-icon" alt="Website icon" />&nbsp;View Website
              </a>
            </li>

            <li>
              <a
                href="https://fossil.hackbytes.com/byronsanchez/hackbytes.com"
                rel="alternate">
                <img src="/img/icons/sourcecode-icon-16x16.png"
                class="sidebar-icon" alt="Source Code icon" />&nbsp;View Source
                Code
              </a>
            </li>

            <li>
              <a href="https://github.com/byronsanchez/hackbytes.com"
                rel="alternate">
                <img src="/img/icons/github-icon-16x16.png"
                class="sidebar-icon" alt="Github icon" />&nbsp;View on
                Github
              </a>
            </li>

            <li>
              <a href="https://bitbucket.com/byronsanchez/hackbytes.com"
                rel="alternate">
                <img src="/img/icons/bitbucket-icon-16x16.png"
                class="sidebar-icon" alt="Bitbucket icon" />&nbsp;View on
                Bitbucket
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- TECHNOLOGY -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Technology</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;HTML5, CSS3, JavaScript, jQuery
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Ruby, Sass, Jekyll
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Bootstrap
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Mobile-first, responsive design
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Statically-generated web pages
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- CODE SNIPPETS -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Code Snippets</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a class="fbox" href="/hackbytes-com-code-snippet-1/">
                <img src="/img/portfolio/hackbytes-com/hackbytes-com-04.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

            <li>
              <a class="fbox" href="/hackbytes-com-code-snippet-2/">
                <img src="/img/portfolio/hackbytes-com/hackbytes-com-05.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

      </div> <!-- span bootstrap -->
    </div> <!-- /sidebar -->


  </div> <!-- project id -->
</div> <!-- row bootstrap -->

