/**
 * Blog styles.
 *
 * A lot of this and other custom sass files override many of bootstrap's
 * default styles. However, bootstrap is still necessary to work properly.
 * Bootstrap overrides will be marked with [B].
 */


/* Body and structure [B]
-------------------------------------------------- */

body {
	font: 14px "Roboto","Helvetica Neue",Helvetica,Arial,Freesans,Clean,sans-serif;
	color: #444;
  line-height: 1.6;
  background-color: #1d1d1d;
  background-image: url(../img/bg.png);
}

p {
  display: block;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,freesans,clean,sans-serif;
	font-weight:bold;
}

#blog h1,
#blog h2,
#blog h3,
#blog h4,
#blog h5,
#blog h6 {
	margin:1em 0 1em;
  line-height: 1.6em;
  color: #2F2F2F;
}

h1 {
	font-size:28px;
}

h2 {
	font-size:24px;
}

h3 {
	font-size:18px;
}

h4 {
	font-size:14px;
}

h5 {
	color:#333;
	font-size:14px;
}

h6 {
	color:#777;
	font-size:14px;
}

/*
ul, ol
{
	margin:1.0em 0px 1.0em 25px;
}
*/

ul li, ol li
{
	margin-top:7px;
	margin-bottom:7px;
}

#blog ul.nav-list li a {
  // top and bottom uesd to make the a:hover color have perfect proportions
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

#blog ul.nav-list li img.sidebar-img {
  width: 100%;
}

#blog .nav-list {
  padding-left: 0px;
  padding-right: 0px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

.footnotes hr {
  margin: 0px;
  border: none;
}

blockquote {
  margin:1.0em;
  background: #F5F5F5;
  border-left:4px solid #ddd;
  color:#666;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,freesans,clean,sans-serif;
  padding: 11px;
}

// same as p (bootstrap override).
blockquote p {
  @extend p;
  font-size: 14px;
}

label {
  display: block;
  font-weight: bold;
}

a:hover
{
	color: rgb(17,68,119);
	text-decoration: underline;
}

a.title-link
{	
  color: black !important;
	text-decoration: none;
}

/*a:visited
{
	color: rgb(162,66,124);
}*/

img, iframe
{ 
  border: 0;
}

article > :first-child {
  margin-top: 0!important;
}

#blog table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

#blog table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

#blog table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}

#blog table tr th[align="center"], #blog table tr td[align="center"] {
	text-align:center;
}

#blog table tr th, #blog table tr td
{
	border:1px solid #ccc;
	margin:0;
	padding:6px 13px;
}

.md {
	background-color: #eee;
	border-radius:3px;
  margin: 0;
	padding:3px;
}

.footnotes {
  background: #f8f8f8;
  font-size: 12px;
  margin: 48px 0 0 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-style: dashed;
}

.shadow {
	-webkit-box-shadow:0 5px 15px #000;
	-moz-box-shadow:0 5px 15px #000;
	box-shadow:0 5px 15px #000;		
}

.hero-unit {
  position: relative;
  color: #ccc;
  padding: 60px 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: url(../img/masthead-portfolio.png) repeat center center #1b1b1b;
  overflow: hidden;
}

// Text's parent div's line heights must match text size.
#blog .hero-unit h1, #blog .hero-unit h1 a {
  font-family: Ubuntu,Consolas,"Liberation Mono",Courier,monospace;
  font-size: 60px;
  color: #fff;
  margin: 0;
  text-align: left;
  line-height: 60px;
  height: 60px;
}

#blog .hero-unit h1 a:hover {
  text-decoration: none;
}

.muted {
  color: #aaa;
}

.logo-container {
  height: 120px;
}

.logo {
  height: 100%;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}

.logo-text, .logo-text h1, .logo-text h1 a {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  line-height: 120px;
}

// Disable underlining of brand
.hero-unit a.brand:hover, .hero-unit a.brand:focus {
  text-decoration: none;
}

.hack {
  color: #fff;
}

.bytes {
  color: #f9a732;
}


/* Custom styles.
-------------------------------------------------- */

/* Header
-------------------------------------------------- */

.navbar-padding {
  padding-left: 20px;
  padding-right: 20px;
}

// Header description.
.description
{
	color: #696969;
}


/* Body
-------------------------------------------------- */

// Main content wrapper.
.content {
  background: #fff;
}

// Blog post wrapper.
.blog {
  @include clearfix;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

// Spaces out each post (on the bottom) and colors the text. Only necessary for blogbody
// to space out the post from the comments.
.blogbody
{
  /*border-bottom: 1px solid #e2e2e2;*/
  margin-bottom: 3.0em;
}

.pagebody h2.resume-title {
  font-size: 1.75em;
  font-weight: 400;
  color: #282729;
  margin-top: 0;
}

.title
{
  margin-bottom: 10px;
	font-size: 24px;
	color: #666;
  border: none;
  line-height: 32px;
}

#blog h3.date
{
  margin: 0 0 10px 0;
	color: #aaa;
	font-weight: normal;
  font-weight:bold;
  font-size: 1em;
  line-height: 1em;
}

.more-link {
  margin-top: 2em;
  font-weight: bold;
}
.related-posts {
  font-weight:bold;
}

.resume-outro {
  padding-bottom: 4em;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

// The contact info below the outro.
.resume-info {
  margin: 1.0em 0;
  text-align: center;
}

.resume-info li {
  display: inline;
  padding: 0 2px;
}

.resume-info li:first-child {
  padding-left: 0;
}


/* Sidebar
-------------------------------------------------- */

.side {
  padding-left: 20px;
  padding-right: 20px;
}

#blog h3.dark-title {
  background: #222222;
  /*background: #1b1b1b;*/
  font-size: 14px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 0.6em;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 0;
  padding-right: 5px;
}

.resume-icon {
  height: 16px;
  vertical-align: middle;
  border: 0;
  padding-right: 3px;
}

.resume-icon-large {
  height: 24px;
  vertical-align: middle;
  border: 0;
  padding-right: 3px;
}

.sidebar-contact-icon {
  height: 16px;
  vertical-align: middle;
  border: 0;
  padding-right: 5px;
}

.profile {
  margin: 0 10px 10px 0;
  width: 64px;
  height: 64px;
  float: left
}

.footernav, .side {
  @include clearfix;
}

.footernav {
  margin: 2.0em 0;
}

kbd {
  white-space: nowrap;
  color: black;
  background: #EEE;
  border-style: solid;
  border-color: #CCC #AAA #888 #BBB;
  padding: 2px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  background-color: #FAFAFA;
  border-color: #CCC #CCC white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #555;
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  margin-bottom:5px;
}


/* Comments
-------------------------------------------------- */

// should override any other style if this one is specified.
.hiddenBox {
  display: none !important;
}


/* Custom Comment Styles
-------------------------------------------------- */

.comments-count
{
  clear: both;
	color: #666;
	margin-bottom: 5px;
  padding-bottom: 1em;
	font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

.comments-body,
#comment-preview-content {
	color: #696969;
	font-weight: normal;
	line-height: 140%;
	padding: 2.5%;
	margin-bottom: 10px;
  word-wrap: break-word;
}

#comments-preview-content {
	background: #eee;
}

.comments-body.odd {
  background: #ffffff;
}

.comments-body.even {
  //background: #eee;
  background: #f8f8f8;
}

.even hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #eeeeee;
}

.comments-meta
{
	color: #696969;
	font-weight: normal;
  padding-top: 1.75%;
}

.odd .comments-meta {
  border-top: 1px solid #e0e0e0;
}

.even .comments-meta {
  border-top: 1px solid #d0d0d0;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 1em 0 0;
  width:64px;
  height:64px;
}

.comment-info {
  display: inline-block;
  vertical-align: middle;
}

.comment-name, .comment-date {
  margin: 0;
}

.comment-name, .comment-name a {
  font-weight: bold;
}

/* Form styles.
-------------------------------------------------- */

#comments input, #comments textarea {
  margin: 0;
}

#comments textarea {
  margin-bottom: 1rem;
}

#comments-open-footer {
  margin-top: 2rem;
}

.comments-open-subtext {
  font-style: none;
}

.block-spacing {
  margin: 1.0em 0;
}

.form-required {
  color: #c00;
}

#comment-text {
    max-width: 600px;
    width: 100%;
    font-size: 14px;
}

#comment-author,
#comment-email,
#comment-url {
    font-size: 14px;
    padding: 3px;
    max-width: 350px;
    width: 100%;
}

input.comment-error {
	background: #f2dede !important;
  color: #b94a48 !important;
  border-color: #c00 !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}

textarea.comment-error {
	background: #f2dede !important;
  color: #b94a48 !important;
  border-color: #c00 !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
  -moz-box-shadow: 0 0 6px #f8b9b7 !important;
  box-shadow: 0 0 6px #f8b9b7 !important;
}

span.comment-error {
  /*color: #b1b1b1;*/
  display:inline-block;
  vertical-align: middle;
  color: #c00;
  margin-left: 10px;
  /* padding-bottom is necessary to match bootstrap's default input margin-bottom of 10px. */
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
}

#commentEntryFormSpinner {
  display:inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

#previewFormSpinner {
  display:inline-block;
  vertical-align: middle;
  margin-left: 10px;
}


/* Footer
-------------------------------------------------- */

.footer {
  padding: 4em 0 4em 0;
}

.footer-block {
  padding: 40px 30px;
  margin: auto;
  width: auto;
  max-width: 640px;
  text-align: left;
}

p.license {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #aaa;
}

.footer-links {
  margin: 1.0em 0;
  text-align: center;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

.footer-bottom {
  background-color: #171717;
}

.footer-bottom a {
  color: #ddd;
}

.footer-bottom a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-link-top {
  padding: 20px;
}

// PIKACHOOSE

ul#pikame {
  list-style-type: none;
}

.pika-stage, #main-demo .pika-stage img {
  width: 100%;
  height: auto;
  position: relative;
}

.pika-thumbs li {
  width: 18%;
  height: auto;
  position: relative;
}

.pika-thumbs .clip {
  height: 100%;
}

.pika-thumbs {
  margin: 14px 0 0 8px;
}

.pika-stage .pika-aniwrap {
  position: absolute;
  top: 0px;
  left: 0px;
}

.pika-textnav {
  display: none;
}

.pika-counter {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  background: rgba(0,0,0,0.7);
  font-size: 11px;
  padding: 8px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pika-stage .caption {
  position: absolute;
  background: #000;
  background: rgba(0,0,0,0.7);
  border: 1px solid #141414;
  font-size: 11px; 
  color: #fafafa;
  padding: 10px;
  text-align: right;
  bottom: 10px;
  right: 10px;
}

.pika-stage .caption p {
  padding: 0;
  margin: 0;
  line-height: 14px;
}

.pika-thumbs li {
  float:left;
  margin: 0 1% 20px 1%;
}

/* RESPONSIVE CSS (Bootstrap does most of the heavy lifting for the blog).
-------------------------------------------------- */

/* Responsive Videos
-------------------------------------------------- */

// Responsive video embeds.
// The embed, iframe, object version of responsive video styling is a hack.
// BROWSER COMPATBILITY: All current browsers.

// Fixed width for the video. If used, this class must wrap the responsive classes below
// (resulting in 2 div wrappers for the video, 1st = fixed, 2nd = responsive).
.flex-video-wrapper {
  width: 640px;
  max-width: 100%;
}

// THE HACK:
// Wrap the embed code with a div container and specify 50-60% padding bottom.
// This padding is the height of the video. This is the hack! But it works.
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

// Widescreen padding must be resized accordingly.
.flex-video.widescreen {
  padding-bottom: 57.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

// Then specify the child elemts 100% width and height with abs pos.
// This will force the embed elements to expand fullwidth automatically.
// The height is inherited as the total of the parent's height attrs
// (including padding). This is how we achieve responsive width via
// percentages for iframes, objects and embeds.
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px),
only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}

@media (max-width: 979px) {
  .footer-block {
    padding: 20px 15px;
  }

  .footer-link-top {
    padding: 10px;
  }
  // TODO: Apply a class to tables with table headers in case there is code
  // interference.
  /* Force table to not be like tables anymore */
  #blog table.headers, #blog table.headers thead, #blog table.headers tbody, #blog table.headers th, #blog table.headers td, #blog table.headers tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #blog table.headers thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #blog table.headers tr { border: 1px solid #ccc; }
  
  #blog table.headers tr td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
  }
  
  #blog table.headers td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

  #blog table.headers td:before { content: attr(axis); }
}

@media (max-width: 767px) {
  .hero-unit h1, .hero-unit h1 a {
    font-size: 48px;
  }
  
  .logo-container {
    height: 84px;
  }

  .logo {
    width: 84px;
    height: 84px;
    margin: 0 10px;
  }
  
  .logo-text, .logo-text h1, .logo-text h1 a {
    line-height: 84px;
  }

  .hero-unit {
    overflow: hidden;
  }

  .resume-outro {
    text-align: left;
  }

  .footer-block {
    padding: 10px 20px;
  }

  // The bottom footer shares the same footer-block class, so we need to make
  // an exception, so it stays vertically centered.
  .footer-block.footer {
    padding-top: 30px;
  }
}


/* Landscape phones
------------------------- */

@media (max-width: 480px) {

  // hero-unit padding should be reduced so the container's height is not
  // bigger than the image. Or use a bigger image. Either way works.
  .hero-unit {
    padding: 30px 10px;
  }
  
  .hero-unit h1, .hero-unit h1 a {
    font-size: 40px;
  }
  
  .logo-container {
    height: 72px;
  }

  .logo {
    width: 72px;
    height: 72px;
  }
  
  .logo-text, .logo-text h1, .logo-text h1 a {
    line-height: 72px;
  }

  // Kill the center valign and just display everything top-to-bottom.
  .avatar {
    display: block;
    vertical-align: baseline;
  }

  .comment-info {
    margin-top: 1em;
    display: block;
    vertical-align: baseline;
  }
}
