/**
 * IE styles for <= IE6.
 *
 * Support for versions >= IE8 can be managed with common polyfills and shivs.
 * Just don't overdo it with unnecessary features for those versions or
 * performance will suffer.
 */
 
/* Span fix.  ( <=IE6 )
-------------------------------------------------------------- */

// Span sizes should match the "normal" non-media queried span sizes.
// NOTE: For some reason, in IE, non-normal values get rendered. (ex. 926 for
// span12). If you can figure this out, we might be able to remove this "fix."
.span12,
.span11,
.span10,
.span9,
.span8,
.span7,
.span6,
.span5,
.span4,
.span3,
.span2,
.span1 {
  margin: 0;
}

// The widths are approximate, but have been calculated so that for any combination of
// spanX that add up to 12, a total width of ~= 940px should be achieved.

.span12 {
  width: 940px;
}

.span11 {
  //width: 860px;
  width: 861px;
}

.span10 {
  //width: 780px;
  width: 783px;
}

.span9 {
  //width: 700px;
  width: 704px;
}

.span8 {
  //width: 620px;
  width: 626px;
}

.span7 {
  //width: 540px;
  width: 548px;
}

.span6 {
  //width: 460px;
  width: 470px;
}

.span5 {
  //width: 380px;
  width: 391px;
}

.span4 {
  //width: 300px;
  width: 313px;
}

.span3 {
  //width: 220px;
  width: 235px;
}

.span2 {
  //width: 140px;
  width: 156px;
}

.span1 {
  //width: 60px;
  width: 78px;
}


/* Bootstrap header fixes.  ( <=IE6 )
-------------------------------------------------------------- */

.hero-unit {
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-fixed-top .container {
  width: 940px;
}

.masthead {
  width: 1080px;
  margin: auto;
}

.navbar .brand {
  margin-left: -10px;
}

/* Bootstrap navbar fix.  ( <=IE6 )
-------------------------------------------------------------- */

// Bootstrap uses direct child selectors. They don't work in IE6, so time to 
// fix. THESE ARE NOT ALL POSSIBLE CASES FOR BOOTSTRAP. Just the ones currently
// implemented on hackbytes. NOTE: Add more if you change the implementation.

// BLOG HEADER

.navbar .nav li {
  float: left;
}

.navbar .nav li a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

.navbar .nav li a:focus,
.navbar .nav li a:hover {
  background-color: transparent;
  color: #333333;
  text-decoration: none;
}

.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-inverse .brand,
.navbar-inverse .nav li a {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover, .navbar-inverse .brand:focus,
.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
  color: white;
}

.navbar-inverse .nav li a:focus,
.navbar-inverse .nav li a:hover {
  background-color: transparent;
  color: white;
}

.navbar-inverse .nav .active a,
.navbar-inverse .nav .active a:hover,
.navbar-inverse .nav .active a:focus {
  color: white;
  background-color: #111111;
}

// BLOG SIDEBAR

// whitespace bug fix
.nav-list li {
  display: inline;
}

// because of the inline fix, we need to space the dark-title and list item
// elements.
.dark-title {
  margin-bottom: 7px !important;
}

.nav li a {
  display: block;
}

.nav-list li a, .nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-top: 7px;
  margin-bottom: 7px;
}

.nav-list li a {
  padding: 3px 15px;
}

.nav-list .active a, .nav-list .active a:hover, .nav-list .active a:focus {
  color: white;
  background-color: #0088cc;
}

/* Max-width fix.  ( <=IE6 )
-------------------------------------------------------------- */

#comment-text {
  width: 600px;
  height: 210px;
}

#comment-author, #comment-email, #comment-url {
  width: 350px;
}

 /* Overflow scroll fix.  ( <=IE6 )
-------------------------------------------------------------- */

// Overflows typically work using the max-width property. In older browsers,
// this needs to be set to the width property.
// Also, enable the y-axis because IE overlays the scrollbars on top of the
// content, not outside of it.

.highlight table {
  width: 100%;
}
 
.highlight table td.code {
  width: 100%;
}
 
.highlight {
  overflow: visible;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}


/* Max-width fix. All media will fit their parent containers. ( <=IE6 )
-------------------------------------------------------------- */
// This fix fits the container in ALL cases. Be careful when sizing images and
// containers. ALWAYS set the parent container size.
// ALTERNATIVALEY, you can enact a "whitelist" by using same-level selectors
// that identify which images should be full.
img,
embed,
object,
video {
  width: 100%;
}
