* {
  background: transparent !important;
  color: #000 !important; /* Black prints faster: h5bp.com/s */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

abbr[title]:after {
  content: " [" attr(title) "]";
}

/*
* Don't show links for images, or javascript/internal links
*/

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group; /* h5bp.com/t */
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

// Override bootstrap's default link.
a[href]:after {
  content: " [" attr(href) "]";
  font: 12px "Roboto","Helvetica Neue",Helvetica,Arial,freesans,clean,sans-serif;
  letter-spacing: normal;
  color: #999;
  font-weight: bold;
}

.nav-collapse.collapse,
.navbar .btn-navbar,
.hero-unit,
.logo,
#comments,
.avatar,
#sidebar, #sidebar .span3,
.footer-link-top {
  display: none;
}

.navbar-inverse .navbar-inner {
  border: 0;
  border-bottom: 1px solid #d4d4d4;
}

.comments-body {
  border: 1px solid #d4d4d4;
}

.comments-count {
  margin-bottom: 3em;
}

.comment-info {
  margin-top: 1em;
  display: block;
  vertical-align: baseline;
}

#content, #content .span9 {
  width: auto;
}

.footer-bottom {
  border: 0;
  border-top: 1px solid #d4d4d4;
}


// Highlights

.highlight {
  overflow: visible;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333333;
}

.highlight table {
  width: 100%;
  table-layout: fixed;
}

// no lines in print.
.highlight td.gutter {
  display: none;
}

.highlight .code {
  width: 100%;
}

.highlight code {
  word-wrap: break-word;
  word-break: break-all;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: static
}

#contact-button {
  display: none;
}

.masthead {
  border: 0;
  border-bottom: 1px solid #d4d4d4;
}

.masthead h1 {
  margin: 0;
}

.bs-docs-social {
  display: none;
}

.project-logo {
  max-width: 170px !important;
}
