<div class="footer-block footer">
  <p class="license">Copyright &copy; 2014 Byron Sanchez. All Rights 
  Reserved.</a></p>
  <p class="license">Code Snippets licensed under the MIT License.</p>
  <p class="license">Design by <a href="http://hackbytes.com">Byron 
      Sanchez</a></p>
  <p></p>
  <p class="license">
    <a href="/privacy/">Privacy Policy</a>
    &nbsp;|&nbsp;
    <a href="/license/">License</a>
  </p>
</div>

<div class="pull-right footer-link-top"><a href="#">Back to top</a></div>
