<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Tile image for Windows -->
  <meta name="application-name" content="{{ site.application }}"/> 
  <meta name="msapplication-TileColor" content="#000000"/> 
  <meta name="msapplication-TileImage" content="/touch-icon-ipad-retina-precomposed.png"/>

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  
  <!-- For IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
  <![endif]-->
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  <!--[if lt IE 10]>
    <link href="/css/ie9.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 8]>
    <link href="/css/ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 7]>
    <link href="/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <link href="/css/fancybox/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css"  />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.hackbytes.com/hackBytes/" />

  <!-- Fonts -->
  <!-- code -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400' rel='stylesheet' type='text/css'>
  <!-- headings -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <!-- title -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <!-- text -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic' rel='stylesheet' type='text/css'>
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/touch-icon-iphone-precomposed.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-retina-precomposed.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-retina-precomposed.png" />
  
{% include analytics.html %}
</head>
