<p>Here are some of the projects I'm working on right now.</p>

<div class="current-project">
  <a href="http://github.com/angry-glass-studios/">
    <img src="/img/current-projects/project-notation.png" alt="Notation by Angry 
    Glass Studios">
  </a>
</div> 

<div class="current-project">
  <a href="http://chompix.com/">
    <img src="/img/current-projects/project-chompix.png" alt="Chompix Website">
  </a>
</div> 

