<ul>
  <li>iOS mobile application development</li>
  <li>Android mobile application development</li>
  <li>Objective-C, Java, PHP, Ruby</li>
  <li>XHTML, HTML5, CSS, CSS3, XML</li>
  <li>Javascript, jQuery and JSON</li>
  <li>MySQL, SQLite</li>
</ul>
