---
title: "dotfiles - Code Snippet 1"
description: ""
date: 2012-12-07 00:09:45
category: code-snippet
pagination_enabled: false
layout: code-snippet
tags:
  - system
---

<!-- CODE SNIPPET -->
<div class="row-fluid project-container">
  <div class="span12">
    <div class="project-code">
      <h2>Code Snippet</h2>

      <p class="snippet-description">
        I use this script for ad-hoc deployments of projects to a target node.
        This is just used for quick testing, skipping the use of overlays (which
        is the official way used to deploy applications). This script will read
        a configuration file and deploy a source tarball to the specified
        destination.
      </p>

      <div class="code-sample">

{% highlight bash linenos %}
        k
#!/bin/sh
#
# bare-bones project deployment script. you should only use this if none of the
# other deployment methods (eg. package manager, capistrano or similiar, etc.)
# are not available or are overkill. aka this should only be used because you're
# too lazy to tar up a directory and scp it yourself and it's a common task for
# whatever reason.

source $HOME/.dotfiles/scripts/helpers/common.lib.sh

# Initialize our own variables:
local_work_dir=$(get_temp_dir)
src=""
src_tmp=""
dst=""
dst_tmp=""
config_file=""

quiet=0

############################
# Argument Parsing Functions

function show_help ()
{
cat <<-EOM

$0 [OPTION] command

options:

    -s --source=NAME                     The directory to deploy
    -d --destination=NAME                The destination; user@host:/path/to/dir
    -c --config-file=NAME                Config file used to set the above values

other:

    -q --quiet               do not log messages to STDOUT
    -h --help                display this message

EOM
    exit 1
}

function get_options () {
    argv=()
    while [ $# -gt 0 ]
    do
        opt=$1
        shift
        case ${opt} in
            -s|--source)
                src_tmp=$1
                shift
                ;;
            --source=*)
                src_tmp=$(echo ${opt} | cut -d'=' -f 2);
                ;;
            -d|--destination)
                dst_tmp=$1
                shift
                ;;
            --destination=*)
                dst_tmp=$(echo ${opt} | cut -d'=' -f 2);
                ;;
            -c|--config-file)
                config_file=$1
                shift
                ;;
            --config-file=*)
                config_file=$(echo ${opt} | cut -d'=' -f 2);
                ;;

            -q|--quiet)
                quiet=1
                ;;
            -h|--help)
                show_help
                ;;
            *)
                if [ "${opt:0:1}" = "-" ]; then
                    fail "${opt}: unknown option."
                fi
                argv+=(${opt})
                ;;
        esac
    done 
}

##################
# GLOBAL VALIDATION

# Parse options if they were passed
get_options $*

if [ -e "${config_file}" ];
then
  source "${config_file}"
elif  [ -e "./.nitelite-settings/config" ];
then
  source "./.nitelite-settings/config"
fi

# command-line defined opts overrides the .nldeploy file settings
if [ -n "${src_tmp}" ];
then
  src="${src_tmp}"
fi
if [ -n "${dst_tmp}" ];
then
  dst="${dst_tmp}"
fi

if [ ! -n "${src}" ];
then
  fail "please provide a valid source directory"
fi
if [ ! -n "${dst}" ];
then
  fail "please provide a valid source directory"
fi

dst_host="${dst%:*}"
dst_dir="${dst#*:}"

if [ ! -n "${dst_dir}" ];
then
  fail "failed to find remote host"
fi

if [ ! -n "${dst_dir}" ];
then
  fail "failed to find remote destination directory"
fi

#############
# MAIN SCRIPT

project_directory="`pwd`"
rm -rf "${local_work_dir}"
mkdir -p "${local_work_dir}"
cd "${local_work_dir}"

# Determine source location based on protocol if any
isFileRemote=$(printf "${src}" | sed -nE '/((https?|ftps?):\/\/)/p');

if [ -n "$isFileRemote" ];
then
  # Download the file
  info "fetching file from ${src}... ";

  tarball="$(basename "${src}")"

  wget ${src} -O ${tarball};
  success " - ${src} downloaded to ${local_work_dir}/${tarball}";

  # list the contents of the archive in order to find the top-level directory 
  # name. this needs to be done in case the packaged directory name does not 
  # match the tarball filename
  filename="$(tar -tf "${tarball}" | grep -o '^[^/]\+' | sort -u)"

  if [ ! -n "${filename}" ];
  then
    fail "failed to find tarball's packaged top-level directory"
  fi

  tar -zxf "${tarball}"
  # update src
  src="${filename}"
fi

# NOTE: environment is not persistent in any of the phases.

if  [ -e "${project_directory}/.nitelite-settings" ];
then
  remote_work_dir=$(ssh -t ${dst_host} "bash -c 'mktemp -t nitelite.XXXXXXXXXXXX'")
  # make sure the folder ends up IN the destination, not the contents of it. (no 
  # rsync backslash in source)
  rsync -zptlr --progress --delete --rsh='ssh' \
  "${project_directory}/.nitelite-settings" \
  "${dst_host}:${remote_work_dir}"
fi

if  [ -e "${project_directory}/.nitelite-settings/pre-deploy-hook-local" ];
then
  source "${project_directory}/.nitelite-settings/pre-deploy-hook-local"
fi

if  [ -e "${project_directory}/.nitelite-settings/pre-deploy-hook-remote" ];
then
  ssh -t ${dst_host} "bash --login -c 'source ${remote_work_dir}/.nitelite-settings/pre-deploy-hook-remote'"
fi

ssh -t ${dst_host} "bash --login -c 'mkdir -p ${dst_dir}'"
# the slash ensures that the source directory is not copied INTO the
# destination, but rather the contents of the source directory are copied into
# the destination.
rsync -zptlr --progress --delete --rsh='ssh' "${src}/" "${dst}"

if  [ -e "${project_directory}/.nitelite-settings/post-deploy-hook-remote" ];
then
  ssh -t ${dst_host} "bash --login -c 'source ${remote_work_dir}/.nitelite-settings/post-deploy-hook-remote'"
  ssh -t ${dst_host} "bash --login -c 'rm -rf ${remote_work_dir}'"
fi

if  [ -e "${project_directory}/.nitelite-settings/post-deploy-hook-local" ];
then
  source "${project_directory}/.nitelite-settings/post-deploy-hook-local"
fi

rm -rf $work_dir

{% endhighlight %}

      </div>
    </div>
  </div>
</div>

