---
title: "dotfiles"
description: ""
date: 2012-12-07 00:09:45
category: portfolio
pagination_enabled: false
layout: portfolio-page
tags:
  - system
---

<div class="row">

  <!-- TITLE -->
  <div id="{{ page.title | downcase | replace:' ','-' | replace:'.','-' }}">

    <!-- The project content -->
    <div id="content">
      <div class="span8">
        <div class="blog">

          <div class="pagebody">
            <article>

              <header>
                <h2 class="title"><a href="{{ page.url }}" class="title-link">{{ page.title }}</a></h2>
              </header>

              <div class="project-tagline">
                <p>
                  My dotfiles for osx and linux workstations
                </p>
              </div>

              <!-- SCREENSHOTS/CODE SNIPPETS -->
              <ul id="pikame" class="clearfix">

                <li>
                  <a href="/img/portfolio/dotfiles/dotfiles-01.png">
                    <img src="/img/portfolio/dotfiles/dotfiles-01.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/dotfiles/dotfiles-02.png">
                    <img src="/img/portfolio/dotfiles/dotfiles-02.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/dotfiles/dotfiles-03.png">
                    <img src="/img/portfolio/dotfiles/dotfiles-03.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/dotfiles/dotfiles-04.png">
                    <img src="/img/portfolio/dotfiles/dotfiles-04.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/dotfiles/dotfiles-05.png">
                    <img src="/img/portfolio/dotfiles/dotfiles-05.png"
                    alt="" />
                  </a>
                </li>

              </ul>

              <div class="project-description">

                <h3>Project Details</h3>

                <p>
                  This project contains all of the dotfiles I use on my
                  workstations. It is functional on both linux and osx
                  workstations.

                  The scripts in this project perform user-level configurations
                  for various programs and sets up my preferred workstation
                  environment.
                </p>
              </div>

            </article>
          </div> <!-- blogbody solo -->

        </div> <!-- blog -->
      </div> <!-- span8 bootstrap -->
    </div> <!--/content-->

    <div id="sidebar">
      <!-- The sidebar -->
      <div class="span4">

        <!-- DISTRIBUTION -->
        <div class="side">

          <div class="text-center">
            <h3 class="dark-title">Distribution</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a
                href="https://fossil.hackbytes.com/byronsanchez/dotfiles"
                rel="alternate">
                <img src="/img/icons/sourcecode-icon-16x16.png"
                class="sidebar-icon" alt="Source Code icon" />&nbsp;View Source
                Code
              </a>
            </li>

            <li>
              <a href="https://github.com/byronsanchez/dotfiles"
                rel="alternate">
                <img src="/img/icons/github-icon-16x16.png"
                class="sidebar-icon" alt="Github icon" />&nbsp;View on
                Github
              </a>
            </li>

            <li>
              <a href="https://bitbucket.com/byronsanchez/dotfiles"
                rel="alternate">
                <img src="/img/icons/bitbucket-icon-16x16.png"
                class="sidebar-icon" alt="Bitbucket icon" />&nbsp;View on
                Bitbucket
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- TECHNOLOGY -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Technology</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Shell, Zsh, Bash</li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Configures Linux and OSX
              workstations
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Manages email, IRC, and more
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- CODE SNIPPETS -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Code Snippets</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a class="fbox" href="/dotfiles-code-snippet-1/">
                <img src="/img/portfolio/dotfiles/dotfiles-06.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

            <li>
              <a class="fbox" href="/dotfiles-code-snippet-2/">
                <img src="/img/portfolio/dotfiles/dotfiles-07.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

      </div> <!-- span bootstrap -->
    </div> <!-- /sidebar -->


  </div> <!-- project id -->
</div> <!-- row bootstrap -->

