---
layout: blog-page
title: Privacy Policy
---

<header>
  <h2 class="title"><a href="/privacy/" class="title-link">{{ page.title }}</a></h2>
</header>

<p>This privacy policy covers how hackBytes.com will treat all information received from visitors. The policy is really simple.</p>

<p>The only personal information this site may have on you is anything you voluntarily disclose.</p>

<p>hackBytes.com does record information from your browser. This data includes cookie information, IP address, and the page requested. This information is used to track anonymous analytics information through my own systems. hackBytes.com also uses Google Analytics to generate anonymous statistics of visits, clicks, etc.</p>

<p>This information is kept private. It is not shared with anyone.</p>

<p>If I make any changes to the privacy policy, the changes will be published here.</p>
