---
layout: site-default
---

<div class="row">
  <!-- The blog content -->
  <div id="content">
    <div class="span9">
      <div class="blog">          
      
        {{ content }}
        
      </div> <!-- blog -->
    </div> <!-- span9 bootstrap -->
  </div> <!--/content-->

  <div id="sidebar">
    <!-- The sidebar -->
    <div class="span3">
      {% include sidebar.html %}
    </div> <!-- span bootstrap -->
  </div> <!-- /sidebar -->

</div> <!-- row bootstrap --> 

