<!DOCTYPE html>

<html>
  {% include header.html %}

  <body id="blog">
    <div class="container content">
      <div class="row">
        <div class="span12">

          {% include navbar.html %}

        </div> <!-- /span bootstrap -->
      </div> <!-- /row bootstrap -->

      <div class="row">
        <div class="span12">
          <div class="hero-unit">
            <div class="logo-container">

              <div class="logo"><a href=""><img src="/img/logo.png" alt="hackBytes logo" /></a></div>

              <div class="logo-text">

                <h1>
                  <a href="/" class="brand">
                    <span
                      class="hack">hack</span><span
                      class="bytes">Bytes</span>
                  </a>
                </h1>

              </div>
            </div>
          </div> <!-- hero-unit bootstrap -->
        </div> <!-- span bootstrap -->
      </div> <!-- row bootstrap -->

      {{ content }}

      <!-- FOOTER -->
      <footer class="footer-bottom">
        <div class="row">
          <!-- The footer content -->
          <div class="span12">

            {% include footer.html %}

          </div> <!-- span bootstrap -->
        </div> <!-- row bootstrap -->
      </footer>


    </div> <!-- container bootstrap -->

{% include scripts.html %}
  </body>
</html>
