---
title: "System Infrastructure"
description: ""
date: 2015-01-21 00:09:45
category: portfolio
pagination_enabled: false
layout: portfolio-page
tags:
  - system
---

<div class="row">

  <!-- TITLE -->
  <div id="{{ page.title | downcase | replace:' ','-' | replace:'.','-' }}">

    <!-- The project content -->
    <div id="content">
      <div class="span8">
        <div class="blog">

          <div class="pagebody">
            <article>

              <header>
                <h2 class="title"><a href="{{ page.url }}" class="title-link">{{ page.title }}</a></h2>
              </header>

              <div class="project-tagline">
                <p>
                  Configuration management for gentoo nodes on the nitelite.io 
                  network
                </p>
              </div>

              <!-- SCREENSHOTS/CODE SNIPPETS -->
              <ul id="pikame" class="clearfix">

                <li>
                  <a href="/img/portfolio/system-infrastructure/system-infrastructure-01.png">
                    <img src="/img/portfolio/system-infrastructure/system-infrastructure-01.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/system-infrastructure/system-infrastructure-02.png">
                    <img src="/img/portfolio/system-infrastructure/system-infrastructure-02.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/system-infrastructure/system-infrastructure-03.png">
                    <img src="/img/portfolio/system-infrastructure/system-infrastructure-03.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/system-infrastructure/system-infrastructure-04.png">
                    <img src="/img/portfolio/system-infrastructure/system-infrastructure-04.png"
                    alt="" />
                  </a>
                </li>

                <li>
                  <a href="/img/portfolio/system-infrastructure/system-infrastructure-05.png">
                    <img src="/img/portfolio/system-infrastructure/system-infrastructure-05.png"
                    alt="" />
                  </a>
                </li>

              </ul>

              <div class="project-description">

                <h3>Project Details</h3>

                <p>
                  <b>System Infrastructure</b> is the configuration management 
                  project used for all nodes on the nitelite.io
                  network. Whenever a new node is provisioned, the
                  configurations defined in this project are applied to the node
                  so that the node can be up and running as soon as possible.

                  This project uses <a href="http://puppetlabs.com">Puppet</a>
                  for configuration management. The nodes use <a
                    href="https://www.gentoo.org">Gentoo Linux</a> for the 
                  operating system.
                </p>
              </div>

            </article>
          </div> <!-- blogbody solo -->

        </div> <!-- blog -->
      </div> <!-- span8 bootstrap -->
    </div> <!--/content-->

    <div id="sidebar">
      <!-- The sidebar -->
      <div class="span4">

        <!-- DISTRIBUTION -->
        <div class="side">

          <div class="text-center">
            <h3 class="dark-title">Distribution</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a
                href="https://fossil.hackbytes.com/byronsanchez/system-infrastructure"
                rel="alternate">
                <img src="/img/icons/sourcecode-icon-16x16.png"
                class="sidebar-icon" alt="Source Code icon" />&nbsp;View Source
                Code
              </a>
            </li>

            <li>
              <a href="https://github.com/byronsanchez/system-infrastructure"
                rel="alternate">
                <img src="/img/icons/github-icon-16x16.png"
                class="sidebar-icon" alt="Github icon" />&nbsp;View on
                Github
              </a>
            </li>

            <li>
              <a 
                href="https://bitbucket.com/byronsanchez/system-infrastructure/"
                rel="alternate">
                <img src="/img/icons/bitbucket-icon-16x16.png"
                class="sidebar-icon" alt="Bitbucket icon" />&nbsp;View on
                Bitbucket
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- TECHNOLOGY -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Technology</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Puppet, Shell, Ruby
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Hiera, ERB templates
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Markdown Documentation
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Configures all server nodes
            </li>

            <li>
              <img src="/img/icons/check-icon-16x16.png" class="sidebar-icon" alt="
              icon"alt="Check icon" />&nbsp;Manages Web, Mail, Db, and more
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

        <!-- CODE SNIPPETS -->
        <div class="side">
          <div class="text-center">
            <h3 class="dark-title">Code Snippets</h3>
          </div>

          <ul class="nav nav-list">

            <li>
              <a class="fbox" href="/system-infrastructure-code-snippet-1/">
                <img
                src="/img/portfolio/system-infrastructure/system-infrastructure-06.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

            <li>
              <a class="fbox" href="/system-infrastructure-code-snippet-2/">
                <img
                src="/img/portfolio/system-infrastructure/system-infrastructure-07.png"
                alt="" class="sidebar-img" />
              </a>
            </li>

          </ul>

        </div> <!-- side -->
        <p></p>

      </div> <!-- span bootstrap -->
    </div> <!-- /sidebar -->


  </div> <!-- project id -->
</div> <!-- row bootstrap -->

